@font-face{
    font-family: 'gotham';
    src: url(../../fonts/GothamPro.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'gotham';
    src: url(../../fonts/GothamPro-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'gotham';
    src: url(../../fonts/GothamPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}